html {
	height: 100%;
}

body {
	margin: 0px;
	height: 100%;
}

div.column {
	height: 100%;
}

textarea#input {
	width: 100%;
	height: 100%;
	resize: none;

	border: none;
	margin: 0px;
	padding: 0px;
	outline: 0px;

	color: white;
}

div.error {
	margin: 10px;
	color: #cc0000;
}
