@import url('/fonts/computer-modern.css');

body {
	background: black;
	color: white;
	font-family: computer-modern, "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 2em;
}

h1 {
	text-align: center;
	font-variant: small-caps;
	font-size: 2em;
}

.diagram {
	padding: 0;
	margin: auto;
	display: block;
}
