@import url('/fonts/computer-modern.css');

body {
	background: black;
	color: white;
	font-family: computer-modern, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 2em;
	margin: 50px;
}

h1 {
	text-align: center;
	font-variant: small-caps;
	font-size: 2em;
}

h2 {
	text-align: center;
	font-variant: small-caps;
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 0em;
}

h3 {
	font-weight: normal;
	font-style: italic;
	margin-bottom: 0em;
}

ul {
	list-style-type: '❖';
}

.diagram {
	padding: 0;
	margin: auto;
	display: block;
}
